.styled_input {
  border: 1px solid #d5d4d8;
  box-sizing: border-box;
  border-radius: 0.25rem;
  width: 45vw;
  height: 4rem;
  font-family: 'Karla', sans-serif;
  margin-inline: 5vmin;
  color: black;
  font-size: 3rem;
}
